.super-mario {
  width: 200px;
  position: absolute;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 380px;
  left: 55px;
}

.baloon {
  position: absolute;
  left: 300px;

}

.speach {
  font-size: 25px;
  position: absolute;
  top: 120px;
  left: 320px;
  z-index: 2;
}

.bowser {
  width: 200px;
  position: absolute;
  left: 550px;
  top: 240px;
}